*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf) format('ttf');
}

@font-face {
    font-family: 'NeueBit';
    src: url(../fonts/PPNeueBit-Bold.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Mondwest';
    src: url(../fonts/PPMondwest-Regular.otf) format('opentype');
    font-weight: normal;
}

:root {
    /* COLORS */
    --primary: var(--blue-on-white);

    --text-color: var(--faux-black);
    --background-color: var(--off-white);

    --blue-on-white: #1468C8;
    --blue-on-black: #2E84E6;

    --faux-black: #1b1b1b;
    --off-white: #eaeaea;

    /* SPACING */
    --spacing-xxs: .25rem;
    --spacing-xs: .5rem;
    --spacing-s: .75rem;
    --spacing-m: 1.25rem;
    --spacing-l: 2rem;
    --spacing-xl: 3.25rem;
    --spacing-xxl: 5.25rem;


    font-family: 'NeueBit', Helvetica, Arial, sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
}

body {
    background-color: rgb(78, 78, 78);
    margin: 0;
}

.wrapper {
    /* border: 2px solid blue; */
    max-width: 1024px;
    margin: 0 auto;
    background-color: var(--background-color);
}

header {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 1.5rem;
}

#account-name {
    font-size: 2.5rem;
    font-weight: 500;
}

#cta-secondary {
    font-size: 1.5rem;
    color: var(--primary);
}

main {
    /* border: 2px solid yellow; */
    margin-top: var(--spacing-m);
}

#profile-section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l);
    padding: 0 1.5rem;
}

#profile_account-stats {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l);
}

#profile {
    display: flex;
    gap: var(--spacing-s);
}

#profile-picture {
    height: 75px;
    /* border-radius: 10%; */
    image-rendering: pixelated;
    aspect-ratio: 1;
}

#profile-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-s);
}

#name_bio {
    display: flex;
    flex-direction: column;
    /* gap: .5rem; */
}

#display-name {
    font-size: 2rem;
    font-weight: 500;
    line-height: .83;
}

#biography {
    font-family: 'Mondwest', 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    line-height: 1.3em;
    font-weight: 400;
}

#tag-line {
    display: flex;
    gap: var(--spacing-s);
    opacity: .5;
}

.tags {
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    gap: .3em;
    align-items: center;
}

.tags-icons {
    height: .8em;
}

#spotify-line {
    display: flex;
    gap: var(--spacing-xxs);
    align-items: center;
    font-size: 1rem;
}

#spotify-status {
    opacity: .5;
}

#spotify-album-cover {
    height: 1.25em;
    border-radius: 10%;
}

#spotify-text {
    background: linear-gradient(to right, var(--text-color) 30%, var(--spotify-color) 50%, var(--text-color) 70%);
    background-size: 400% auto;
    color: var(--text-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatedTextGradient 10s linear infinite;
}

@keyframes animatedTextGradient {
    to {
        background-position: 100% center;
    }
}

#spotify-text-by {
    background: var(--text-color);
    background-clip: text;
}

#spotify-visualizer {
    display: none;
    gap: .15em;
    align-items: center;
}

.visualizer-bars {
    background-color: var(--spotify-color);
    height: .2em;
    width: .15em;
    /* border-radius: 999px; */
    animation: visualize 2.4s infinite ease;
}

.visualizer-bars:nth-child(1) {
    animation-delay: .2s;
}

.visualizer-bars:nth-child(2) {
    animation-delay: .8s;
}

.visualizer-bars:nth-child(3) {
    animation-delay: .6s;
}

.visualizer-bars:nth-child(4) {
    animation-delay: 1s;
}

.visualizer-bars:nth-child(5) {
    animation-delay: .4s;
}

.visualizer-bars:nth-child(6) {
    animation-delay: 1.2s;
}

@keyframes visualize {
    0% {
        height: .2em;
    }
    20% {
        height: 1em;
    }
    50% {
        height: .6em
    }
    75% {
        height: 1em;
    }
    100% {
        height: .2em;
    }
}

#account-stats {
    display: flex;
    justify-content: space-evenly;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: .3em; */
    /* width: 100%; */
}

.stat-counts {
    font-size: 2.5rem;
    line-height: .5;
    font-weight: 600;
}

.stat-labels {
    opacity: .5;
    font-weight: 400;
}

#profile-buttons-wrapper {
    display: flex;
    gap: .5rem;
}

.profile-buttons {
    font-size: 2rem;
    font-weight: 400;
    padding: .5rem 2rem;
    text-align: center;
    line-height: .83;
}

#cta-primary {
    position: relative;
    color: #052D7D;
    background-color: var(--primary);
    width: 67%;
    border: 1px solid #052D7D;
    box-shadow: 3px 3px 0px 0px #87BFFF inset, -3px -3px 0px 0px #5B7AE0 inset, 0px 6px 0px 0px #37468F;
    cursor: pointer;
    animation: primary-wiggle 5s linear infinite;
    overflow: hidden;
}

#cta-primary::before {
    content: "";
    background-color: rgba(193, 216, 255, 0.3);
    height: 180%;
    width: 20px;
    position: absolute;
    top: -30%;
    left: -15%;
    transform: rotate(30deg);
}

#cta-primary:hover::before {
    left: 115%;
    transition: 1s ease;
}

#cta-primary:active {
    top: 6px;
    color: #04266A;
    border: 1px solid #04266A;
    background-color: #5E83D3;
    box-shadow: 3px 3px 0px 0px #73A2D9 inset, -3px -3px 0px 0px #4D68BE inset;
}

@keyframes primary-wiggle {
    0% {
        transform: translateY(0px);
    }
    2% {
        transform: translateY(-3px);
    }
    4% {
        transform: translateY(0px);
    }
    6% {
        transform: translateY(0px);
    }
    8% {
        transform: translateY(-3px);
    }
    10% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}

#tap-button {
    color: #454545;
    background-color: #B3B3B3;
    cursor: pointer;
    width: 33%;
    border: 1px solid #454545;
    box-shadow: 3px 3px 0px 0px #C3C3C3 inset, -3px -3px 0px 0px #9D9D9D inset, 0px 6px 0px 0px #636363;
    position: relative;
}

#tap-button:active {
    top: 6px;
    color: #3B3B3B;
    border: 1px solid #3B3B3B;
    background-color: #989898;
    box-shadow: 3px 3px 0px 0px #A6A6A6 inset, -3px -3px 0px 0px #858585 inset;
}

#feed {
    margin-top: 3.5rem;
}

#feed-nav {
    display: flex;
    position: relative;
}

#feed-nav > label {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

#feed-nav input[type=radio] {
    display: none;
}

#feed-nav input[type=radio]:checked + label {
    color: var(--text-color);
}

input[id=work-radio]:checked ~ #nav-slider {
    transform: translateX(0);
}

input[id=case-radio]:checked ~ #nav-slider {
    transform: translateX(100%);
}

input[id=updates-radio]:checked ~ #nav-slider {
    transform: translateX(200%);
}

#nav-slider-track {
    position: absolute;
    top: 1.5em;
    display: flex;
    height: .1em;
    width: 100%;
    background-color:  rgba(255, 255, 255, 0.15);
}

#nav-slider {
    position: absolute;
    top: 1.5em;
    display: flex;
    height: .1em;
    width: 33.33%;
    background-color:  var(--primary);
    transition: all .24s ease;
}

footer {
    /* border: 2px solid green */
    margin-top: 2.25rem;
    font-weight: 300;
    font-size: .75rem;
}