*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url(../fonts/Inter_Variable.ttf) format('ttf');
}

@font-face {
    font-family: 'AlteHaas';
    src: url(../fonts/AlteHaasGroteskRegular.ttf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'AlteHaasBold';
    src: url(../fonts/AlteHaasGroteskBold.ttf) format('opentype');
    font-weight: bold;
}

#coming-soon-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #fefeff;
}

#coming-soon-text {
    position: absolute;
    translate: -50% -50%;
    left: 50%;
    top: 50%;
    font: 2rem  'AlteHaasBold';
    letter-spacing: -.5px;
}