*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_Variable.ttf) format('opentype');
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: 'AlteHaas';
    src: url(../fonts/AlteHaasGroteskRegular.ttf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'AlteHaasBold';
    src: url(../fonts/AlteHaasGroteskBold.ttf) format('opentype');
    font-weight: bold;
}

:root {
    /* COLORS */
    --primary-color-light: rgba(0, 115, 229, 1);
    --background-color-light: rgba(245, 245, 245, 1);
    --text-color-light: black;

    /* SPACINGS */
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-24: 24px;
    --spacing-32: 32px;
    --spacing-48: 48px;
    --spacing-64: 64px;
    --spacing-96: 96px;

    /* FONTS */
    font-family: Inter, Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
}

body {
    height: 300vh;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -2%;
    line-height: 120%;

    & > span {
        color: var(--primary-color-light);
    }
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -2%;
}

h3 {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: -2%;
    line-height: 120%;
}

h4 {
    font-size: 1.0625rem;
    font-weight: 500;
    letter-spacing: -1%;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1%;
}

#wrapper {
    margin: 0 auto;
    /* border: 1px solid red; */
}

header {
    width: 100%;
    padding: 0 16px;
    position: fixed;
    bottom: var(--spacing-24);
    z-index: 1000;
}

main {
    padding: 0 16px;
}

#nav-bar {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--spacing-8);
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
    padding: 6px;
    background-color: rgba(217, 217, 217, .7);
    border-radius: 24px;
    box-shadow: inset 0px 0px 0px .5px rgba(255, 255, 255, .4), inset 2px 2px 4px 0px rgba(255, 255, 255, .25), inset -2px -2px 4px 0px rgba(255, 255, 255, .25);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    max-width: 1000px;
    & > .nav-item {
        margin: 0 0 0 auto;
    }
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#nav-profile {
    aspect-ratio: 1/1;
    height: 44px;
    border-radius: 18px;
    overflow: hidden;
    & a {
        display: block;
        height: 100%;
        width: 100%;
    }
    & img {
        width: 100%;
    }
}

#profile-img-shadow {
    width: 44px;
    height: 44px;
    border-radius: 18px;
    position: absolute;
    box-shadow: inset .5px .5px 0px 0px rgba(255, 255, 255, .4), inset 2px 2px 4px 0px rgba(255, 255, 255, .4), inset -2px -2px 4px 0px rgba(255, 255, 255, .4);
}

#nav-contact svg {
    color: var(--primary-color-light);
    opacity: 1;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 44px;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 18px;
    box-shadow: inset .5px .5px 0px 0px rgba(255, 255, 255, .4);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    cursor: pointer;
    & > svg {
        height: 20px;
        opacity: .7;
    }
}

.nav-item {
    min-height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    padding: 0 16px;
    cursor: pointer;
    & > svg {
        height: 12px;
        opacity: .7;
    }
}

#hero-section {
    margin-bottom: var(--spacing-64);
}

#below-fold {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-96);
}

.main-section {
    position: relative;
    & > h2 {
        margin-bottom: var(--spacing-24);
    }
}

.project-headline {
    display: flex;
    gap: var(--spacing-8);
    align-items: end;
    margin-bottom: var(--spacing-16);
    & span {
        opacity: .8;
        letter-spacing: -1%;
        line-height: 110%;
    }
}

.project-image {
    position: relative;
    & > img {
        width: 100%;
        border-radius: var(--spacing-24);
        display: block;
    }
}

.project-image-shadow {
    height: 100%;
    width: 100%;
    border-radius: var(--spacing-24);
    position: absolute;
    box-shadow: inset 0px 0px 0px .5px rgba(255, 255, 255, .8), inset 2px 2px 4px 0px rgba(255, 255, 255, .4), inset -2px -2px 4px 0px rgba(255, 255, 255, .4);
}

.generic-btn {
    display: inline-flex;
    gap: var(--spacing-8);
    padding: 0 20px;
    min-height: 44px;
    align-items: center;
    border-radius: 18px;
    background-color: rgba(217, 217, 217, .7);
    box-shadow: inset .5px .5px 0px 0px rgba(255, 255, 255, .4), inset 2px 2px 4px 0px rgba(255, 255, 255, .4), inset -2px -2px 4px 0px rgba(255, 255, 255, .4);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    z-index: 1;
    position: absolute;
    right: 6px;
    bottom: 6px;
    & > svg {
        height: 12px;
        opacity: .7;
    }
}

.resume-list {
    list-style: none;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -1%;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    & > li {
        display: flex;
        gap: var(--spacing-12);
        & svg {
            margin-top: 4px;
            height: 12px;
            width: 12px;
        }
        & > div {
            display: flex;
            flex-direction: column;
        }
    }
    & > li:nth-of-type(1) {
        opacity: .5;
    }
    & span {
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
    }
}

#about-me p {
    text-indent: 12px;
    margin-bottom: 1em;
    text-align: justify;
    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }
}

#coming-soon-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #fefeff;
}

#coming-soon-text {
    position: absolute;
    translate: -50% -50%;
    left: 50%;
    top: 50%;
    font: 2rem 'AlteHaasBold';
    letter-spacing: -.5px;
}